################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#.NET
/.vs
/AlphaParking/.vs/AlphaParking
/AplhaParking/AlphaParking.Web.Host/appsettings.json
/AlphaParking/AlphaParking.Web.Host/obj
/AlphaParking/AlphaParking.Web.Host/bin
/AlphaParking/AlphaParking.Web.Host/wwwroot
/AlphaParking/AlphaParking.BLL/obj
/AlphaParking/AlphaParking.BLL/bin
/AlphaParking/AlphaParking.DAL/obj
/AlphaParking/AlphaParking.DAL/bin
/AlphaParking/AlphaParking.Models/obj
/AlphaParking/AlphaParking.Models/bin
/AlphaParking/AlphaParking.Models/Migrations
/AlphaParking/AlphaParking.Web.Client/node_modules
/AlphaParking/AlphaParking.Web.Client/obj
/AlphaParking/AlphaParking.Web.Client/bin
/AlphaParking/AlphaParking.Web.Client/dist
/AlphaParking/AlphaParking.Web.Client/wwwroot
/AlphaParking/AlphaParking.Web.Gateway/obj
/AlphaParking/AlphaParking.Web.Gateway/bin
/AlphaParking/AlphaParking.Web.Gateway/dist
/AlphaParking/AlphaParking.Web.Gateway/wwwroot

# Java
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.vs
*.azcli
/.vscode
*.properties
AlphaParking.Java.AuthService/javaauth/target/
AlphaParking.Java.AuthService/javaauth/target/javaauth-0.0.1.jar
AlphaParking.Java.AuthService/javaauth/target/classes/com/auth/models/Role.class
AlphaParking.Java.AuthService/javaauth/target/javaauth-0.0.1.jar
AlphaParking.Java.AuthService/javaauth/target/javaauth-0.0.1.jar.original
AlphaParking.Java.AuthService/javaauth/target/classes/application.properties
AlphaParking.Java.AuthService/javaauth/target/classes/com/auth/Application.class
AlphaParking.Java.AuthService/javaauth/target/classes/com/auth/AuthController.class
AlphaParking.Java.AuthService/javaauth/target/classes/com/auth/repositories/RoleRepository.class
AlphaParking.Java.AuthService/javaauth/target/classes/com/auth/services/TestDbConnectionService.class
AlphaParking.Java.AuthService/javaauth/target/dependency/BOOT-INF/classes/application.properties
AlphaParking.Java.AuthService/javaauth/target/dependency/BOOT-INF/classes/com/auth/AuthController.class
AlphaParking.Java.AuthService/javaauth/target/dependency/BOOT-INF/classes/com/auth/models/Role.class
AlphaParking.Java.AuthService/javaauth/target/dependency/BOOT-INF/classes/com/auth/services/TestDbConnectionService.class
AlphaParking.Java.AuthService/javaauth/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
AlphaParking.Java.AuthService/javaauth/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
