.btn{
    &:not(:last-child) {
        margin-right: 10px;
    }
    &-edit{
        background-color: darkblue !important;
        color: white !important
    }
    &-remove{
        background-color: red !important;
        color: white !important
    }
}
td{
    vertical-align: middle !important;
}

.empty-table-msg{
    text-align: center;
}