<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Парковка "Альфа". Администирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <a href="/roles">Список ролей</a> 
    <h2>Создание роли</h2>
    <form method="post" action="create">
        <label>Наименование</label>
        <input type="text" name="name" placeholder="Например, Employee"/>
        <br/>
        <button type="submit">Создать</button>
    </form>
</body>
</html>