<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Парковка "Альфа". Администирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <a href="/users">Список пользователей</a> 
    <h2>Создание пользователя</h2>
    <form method="post" action="create">
        <label>Логин</label>
        <input type="text" name="login" placeholder="Например, test1"/>
        <br/>
        <label>Пароль</label>
        <input type="password" name="password" placeholder="Например, 12345678"/>
        <br/>
        <label>ФИО</label>
        <input type="text" name="fio" placeholder="Например, Иванов И.И."/>
        <br/>
        <label>Адрес</label>
        <input type="text" name="address"/>
        <br/>
        <label>Телефон</label>
        <input type="text" name="phone" placeholder="Например, 89154201782"/>
        <br/>
        <label>Email</label>
        <input type="text" name="email" placeholder="Например, ivanov11@yandex.ru"/>
        <br/>
        <button type="submit">Создать</button>
    </form>
</body>
</html>