<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Парковка "Альфа". Администирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
</head>
<body>
    <th:block th:include="/_menu"></th:block> 

    <form method="post" action="login">
        <div class='box'>
            <div class='box-form'>
                <div class='box-login-tab'></div>
                <div class='box-login-title'>
                    <div class='i i-login'></div>
                    <h2>Вход</h2>
                </div>

                <div th:if="${error != null}"
                    th:utext="${error}" class="error">...
                 </div>

                <div class='box-login'>
                <div class='fieldset-body' id='login_form'>
                    <p class='field'>
                    <label for='user'>Логин</label>
                    <input type='text' id='user' name='login'/>
                    </p>
                        <p class='field'>
                    <label for='pass'>Пароль</label>
                    <input type='password' id='pass' name='password'/>
                    </p>
            
                    <input type='submit' id='do_login' value='Войти'/>
                </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>