<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Список ролей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
  </head>
  <body>
    <th:block th:include="/_menu"></th:block> 
    <h1>Список ролей</h1>

    <div th:if="${error != null}"
      th:utext="${error}" class="error">...
    </div>

    <div th:if="${rolesList != null && rolesList.size() > 0}">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Наименование</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="role: ${rolesList}">
            <td th:text="${role.getId()}" />
            <td th:text="${role.getName()}" />
            <td class="btnCol"><form th:action="@{'/role/' + ${role.getId()}}"><input type="submit" value="Редактировать"></form></td>
            <td class="btnCol"><form method="POST" th:action="@{'/role/delete/' + ${role.getId()}}"><input type="submit" value="Удалить"></form></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  
</html>