<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Список пользователей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
  </head>
  <body>
    <th:block th:include="/_menu"></th:block> 
    <h1>Список пользователей</h1>

    <div th:if="${error != null}"
      th:utext="${error}" class="error">...
    </div>

    <div th:if="${usersList != null && usersList.size() > 0}">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Адрес</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user: ${usersList}">
            <td th:text="${user.getId()}" />
            <td th:text="${user.getLogin()}" />
            <td th:text="${user.getFio()}" />
            <td th:text="${user.getPhone()}" />
            <td th:text="${user.getEmail()}" />
            <td th:text="${user.getAddress()}" />
            <td class="btnCol"><form th:action="@{'/user/' + ${user.getId()}}"><input type="submit" value="Редактировать"></form></td>
            <td class="btnCol"><form method="POST" th:action="@{'/user/delete/' + ${user.getId()}}"><input type="submit" value="Удалить"></form></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  
</html>